footer {
    background-color: #28342f;
}

 :root {
    --button-primary: #3E3FD8;
    --white-primary: #EEF4FF;
    --text-primary: #2E323B;
    --dark-primary: #61646B;
}

body {
    font-family: 'Lato', sans-serif;
}

.uk-background-brown {
    background-color: var(--brown-color);
}

.uk-background-dblue {
    background-color: var(--dark-blue);
}

.uk-background-lblue {
    background-color: var(--white-primary);
}

.text-border {
    text-shadow: 0 0 3px #000000;
    color: var(--white-primary);
    /* text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; */
}

#mapID {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}

.uk-onleft {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -20%);
}

.round {
    border: 2px solid white;
    background-color: rgb(82, 237, 82);
    border-radius: 50%;
    color: white;
}

.round-warning {
    border: 2px solid white;
    background-color: rgb(250, 226, 45);
    border-radius: 50%;
    color: white;
}